.user_component {
  width: 100%;
  height: 100%;
  position: relative;
}

.cliper_search {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  & input.search_input {
    margin-bottom: 0 !important;
    width: 400px;
  }

  & i.search_button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.clipers_container {
  width: 80%;
  margin-left: 10%;
  padding-top: 40px;
  position: relative;
}

.cliper_tabs {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  & .cliper_tab {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    &.active {
      border-bottom: 2px solid #3498DB;
    }
  }
}

.clipers_wrapper {
  width: 70%;
  margin-left: 15%;
  margin-top: 65px;

  & .cliper_container {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 40px;
  }
}

.content_container {
  padding: 20px 15px;
  color: #888888;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 0.9em;

  &:not(:last-child) {
    border-bottom: 1px solid #dcdcdc;
  }
}

.cliper_content_container {
}

.cliper_page_title {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;

  & .cliper_page_container {
    margin-left: 5px;
  }
}

.cliper_title {
  height: 40px;
  width: 100%;
}

.cliper_page_container,
.cliper_link {
  display: inline-block;
  max-width: 80%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    color: #3498DB;
  }
}

.cliper_time {
  margin: 10px 0;
  font-size: 0.8em;
  color: #9D9D9D;
}

.clipers_content_container {
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);
  }
}

/*.cliper_page {
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);

    & .cliper_love {
      opacity: 1;
    }
  }

  & .cliper_page_title {
    border-bottom: 1px solid #dcdcdc;
  }

  & .cliper_page_container {
    margin-left: 10px;
  }
}

.cliper_content {
  width: 100%;
  color: #888888;
  font-weight: lighter;
  margin-top: 15px;

  & .cliper_content_container {
    line-height: 1.5em;
    border-radius: 2px;
    border: 1px solid #e8e3e3;
    margin-bottom: 15px;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      border: 1px solid transparent;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.08);

      & .cliper_love {
        opacity: 1;
      }
    }
  }

  & .cliper_content_wrapper {
    border-bottom: 1px solid #f3f3f3;
    padding: 15px;
    font-size: 0.9em;
  }
}

.cliper_page_info,
.cliper_content_info {
  height: 30px;
  width: 100%;
  position: relative;
  font-size: 0.8em;

  & .cliper_time {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  & .cliper_love {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &.active {
      opacity: 1;
    }
  }
}*/
