{% extends "layouts/base.html" %}

{% block css %}
  <link href="{{ assetsPath("user.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div class="user_container">
    <div class="user_header_bg"></div>
    <div class="user_header">
      <div class="user_info_container">
        <span class="user_name">
          {{ userInfo.username }}
        </span>
        <a href="/user/logout" class="user_logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>logout
        </a>
        <br/>
        <span class="user_joinedat">
          joinedAt: {{ userInfo.joinedAt.split('T')[0] }}
        </span>
        <br/>
        <br/>
        <span class="user_cliper_num">
          {{ userInfo.clipersNum }} clipers, {{ userInfo.pagesNum }} pages
        </span>
      </div>
    </div>
    <div id="user_component"></div>
  </div>
{% endblock %}

{% block js %}
  <script>
    window.hasClipers = {{ userInfo.clipersNum + userInfo.pagesNum }}
  </script>
  <script src="{{ assetsPath("user.js") }}"></script>
{% endblock %}
