{% extends "layouts/base.html" %}

{% block css %}
  <link href="{{ assetsPath("user.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div class="user_container">
    <div class="user_header_bg"></div>
    <div class="user_header">
      <div class="user_info">
        <div class="user_info_wrapper">
          <span class="user_name">
            {{ userInfo.username }}
          </span>
          <br/><br/>
          <a href="/user/logout" class="user_logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>logout
          </a>
        </div>
      </div>
      <div class="user_intro">
        <div class="user_intro_wrapper">
          <!-- {{ userInfo.email }} <br/>
          {{ userInfo.joinedAt }} -->
        </div>
      </div>
    </div>
    <div id="user_component"></div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ assetsPath("user.js") }}"></script>
{% endblock %}
