<style type="text/css">html,
    body {
        margin: 0;
        padding: 0;
    }
</style>
<center>
<table style="background:#f6f7f2;font-size:13px;font-family:microsoft yahei;">
	<tbody>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" width="600px">
				<tbody>
					<tr>
						<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" style="margin-top:60px;" width="465px">
							<tbody>
								<tr>
									<td height="200px" style="background: url(http://obpykithy.bkt.clouddn.com/image/ecmadao/code_3.jpg) no-repeat center; background-size: cover;" valign="middle" width="465px">&nbsp;</td>
								</tr>
								<tr>
									<td align="center" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" style="background:#fff;height:411px;" width="465px">
										<tbody>
											<tr>
												<td align="center" style="color:#666;line-height:1.5" valign="top">
												<div style="width:411px;text-align:left;margin-top:50px;margin-bottom:80px;">
												<p>Hi，欢迎使用Cliper</p>

												<p style="text-indent:2em">Cliper的主要目的是希望能够帮助你在阅读文章的过程中，快速的收藏起自己中意的段落，并可以通过云平台同步。</p>

                        <p>
                          建议您先到<a href="https://chrome.google.com/webstore/detail/biijehenaabpogldekblkfgooifmagbi" style="display:inline-block;width:139px;height:38px;line-height:38px;color:#fff;font-size:14px;vertical-align:middle;background-color:#3498db;text-decoration:none">cliper谷歌插件</a>下载谷歌浏览器的扩展插件，之后通过插件收集到的资源，都可以在<a href="http://cliper.com.cn" style="display:inline-block;width:139px;height:38px;line-height:38px;color:#fff;font-size:14px;vertical-align:middle;background-color:#3498db;text-decoration:none">cliper网页端</a>
                          查看
                        </p>

												<p style="text-indent:2em">鉴于Cliper才刚刚起步，如果你是一名开发者，或者对Cliper的发展感兴趣，欢迎到<a href="%url%">Cliper Github主页</a>，提出issue或者star。祝好！</p>
												</div>

												<div style="margin-bottom:40px;"><a href="%url%" style="display:inline-block;width:139px;height:38px;line-height:38px;color:#fff;font-size:14px;vertical-align:middle;background-color:#3498db;text-decoration:none">前往Github查看</a></div>

												<div style="border-top:1px dashed #ccc;margin:20px">&nbsp;</div>
												</td>
											</tr>
											<tr>
												<td height="37px" style="background:#dededc">&nbsp;</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</center>
